
svg.clippy {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

.timer-container{
   /* clip-path: url(#timer-bg); */
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

@keyframes shimmer {
  0%, 100% { color: #fff; }
  50% { color: var(--shimmering-color); }
}

.points-clip-path {
  clip-path: polygon(
    9.61% 0%,
    91% 0%,
    100% 48.75%,
    91.75% 100%,
    8.85% 100%,
    0% 48.75% 
  );
  background-color: #b99960;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hex {
  background: none; 
  clip-path: polygon(
    50% 0%, 
    0% 25%, 
    0% 75%, 
    50% 100%, 
    100% 75%, 
    100% 25%
  );
}

.isosceles-trapezium {
  clip-path: path('M35.4541 0.5L32.542 33.5H0.545898L3.45801 0.5H35.4541Z');
  -webkit-clip-path: path('M35.4541 0.5L32.542 33.5H0.545898L3.45801 0.5H35.4541Z');
}
