.carousel-container {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2rem;
}
  
.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
  
.carousel-card > img {
  height: 80%;
  width: 80%;
  border-radius: 10%;
}
  
.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  animation: slide 20s linear infinite;
  gap: 0.5rem;
}

.carousel-gradient {
  -webkit-mask-image: linear-gradient(90deg,
  transparent 0%,
  black 40%,
  black 85%,
  transparent 100%);
  mask-image: linear-gradient(90deg,
  transparent 0%,
  black 40%,
  black 85%,
  transparent 100%);
}

@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}